<div>
  <div class="container">
    <h1 class="display-3 mb-4">
      Spotify
      <span class="display-4 text-muted">Music Search</span>
    </h1>


    <div class="form-inline justify-content-center mb-3">
          <input class="form-control form-control-lg w-75" type="text" placeholder="enter song title or artist name...">
          <button class="btn btn-primary btn-lg ml-3" type="button">Search</button>
    </div>

    <div class="row">

      <div class="col-3">
        <div class="card mb-3">
          <img class="card-img-top" src="http://via.placeholder.com/250x250" alt="Album art">
          <div class="card-body">
            <h5 class="card-title">Track title</h5>
            <p class="card-text">
              Artist name
              <br/> Album name
            </p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card mb-3">
          <img class="card-img-top" src="http://via.placeholder.com/250x250" alt="Album art">
          <div class="card-body">
            <h5 class="card-title">Track title</h5>
            <p class="card-text">
              Artist name
              <br/> Album name
            </p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card mb-3">
          <img class="card-img-top" src="http://via.placeholder.com/250x250" alt="Album art">
          <div class="card-body">
            <h5 class="card-title">Track title</h5>
            <p class="card-text">
              Artist name
              <br/> Album name
            </p>
          </div>
        </div>
      </div>

      <div class="col-3 mb-3">
        <div class="card">
          <img class="card-img-top" src="http://via.placeholder.com/250x250" alt="Album art">
          <div class="card-body">
            <h5 class="card-title">Track title</h5>
            <p class="card-text">
              Artist name
              <br/> Album name
            </p>
          </div>
        </div>
      </div>

      <div class="col-3 mb-3">
        <div class="card">
          <img class="card-img-top" src="http://via.placeholder.com/250x250" alt="Album art">
          <div class="card-body">
            <h5 class="card-title">Track title</h5>
            <p class="card-text">
              Artist name
              <br/> Album name
            </p>
          </div>
        </div>
      </div>

    </div>



  </div>
</div>