<div class="form-inline justify-content-center mb-3">
  <input type="search" #newquery [value]="query" (keydown.enter)="submit(newquery.value)" class="form-control form-control-lg w-75"
    placeholder="enter song title or artist name...">
  <button (click)="submit(newquery.value)" class="btn btn-primary btn-lg ml-3" type="button">Search</button>
</div>

<div *ngIf="results">
  <p *ngIf="!results.length">
    No results were found for the query '{{ query }}'.
  </p>

  <div class="row" *ngIf="results.length">

    <div class="col-3 mb-3" *ngFor="let track of results">
      <div class="card h-100">
        <img class="card-img-top" src="{{ track.album.images[0].url }}" alt="{{track.album.name}} cover art">
        <div class="card-body">
          <h5 class="card-title">
            <a [routerLink]="['/tracks', track.id]" >{{track.name}}</a>
            </h5>
          <p class="card-text">
            <a [routerLink]="['/artists', track.artists[0].id]" >{{track.artists[0].name}}</a>
            <br/> 
            <a [routerLink]="['/albums', track.album.id]" >{{track.album.name}}</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>